#one {width: 88.88%; height: 225px; background-image: url("del.jpg"); margin: 75px auto 0 auto; color:white; background-color: #001525; font-family:lato; text-align:center; font-size: 70%; float:center; } 

#two {width: 88.88%; height: 50; margin: 0 auto 0 auto; background-color: white; color: white; text-align: center; font-family: lato;}

#two li {display: inline; padding: 4.166%; font-size: 200%;}

ul { list-style-type: none; padding: 4px;}

a {color: #084b53; text-decoration: none; font-family: bebas neue;}

img:hover {filter: blur(0px);
				transition:1s;}

a:hover {background-color: #084b53; color:white; font-family: bebas neue;}
 
h1 {background-color: #084b53;}

img {filter: blur(5px);
		transition:1s;}

body { background-color: #d5e9f9; }

#three {width: 88.88%; height: 200px; background-color: #084b53 ;  margin: 0 auto 0 auto; color: white; }

p {padding: 15 px; text-align: center; padding-top: 50px;}


