body {padding:20 10 20 10; margin:0; background-color:#ededed}

.wrapper {width:98%; background-color:white; margin: 0 auto 0 auto; position:relative;color: #6c6c6c;}

.head {height:320; background-color:transparent; width:82%; margin:0 auto 0 auto;}

.headtop {height:100; background-color:transparent}

.logo {height:100; background-color:transparent; width:30%; float:left; padding-top:30; }

.header {height:100; background-color:transparent; width:70%; float:right; font-family:raleway; text-align:right;}

.header ul { margin-top:80;} 

.header li {display:inline; margin:10 0 10 40;}

.headbottom {height:220; background-color:transparent; padding-top: 80; font-family:raleway;}

	p.intro {line-height:1.5; font-size:15; margin-top:-10; }
	
	p.heading {font-size:25;}

.body { width:82%; background-color:transparent; margin:0 auto 0 auto;}

.one, .two, .three {height:380; width:100%; background-color:transparent;}

.onea, .twoa, .threea {height:100%; width:31.5%; background-color:transparent; margin-right:2.75%; float:left;}

.img {height:75%; width:100%; background-color:transparent;}

.text {height:15%; width:100%; background-color:transparent; font-family:raleway; color: #6c6c6c;}

.oneb, .twob, .threeb {height:100%; width:31.5%; background-color:transparent; margin-right:2.75%; float:left;}

.onec, .twoc, .threec {height:100%; width:31.5%; background-color:transparent; float:right;}

p.texthead {font-size:25;margin:0;margin-top:16;}

p.texttitle {font-size:15;margin:0; margin-top:8;}

.text a{text-decoration:none; color:#6c6c6c}

.footer {font-family:raleway; height: 135; background-color: #ededed; color:#6c6c6c; text-align: center; padding-top:85;}

.fb, .li, .in, .dr, .be {display:inline-block; padding:15;}

.footer {margin-top:100;}	
	
.footer a {
  position: relative;
  color:#6c6c6c ;
  text-decoration: none;
  font-family:raleway;
}
.footer a:hover {
  color:#6c6c6c;
}
.footer a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  top:-8;
  right:10px;
  left: 0;
  background-color:#6c6c6c ;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.footer a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}



.header a {
  position: relative;
  color:#6c6c6c ;
  text-decoration: none;
  font-family:raleway;
}
.header a:hover {
  color:#6c6c6c;
}
.header a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  top:-8;
  right:10px;
  left: 0;
  background-color:#6c6c6c ;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.header a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}